body{background-color: rgb(85, 57, 20); font-family: 'Rubik Pixels';}
header{background-color: black; padding: 8px; color: white; text-align: center;}
a{color: white; text-decoration: none; text-align: center; }
#sus{height: 100px; width: 150px;}
div{width: 400px; border: 3px solid black; text-align: center; display: inline-block;}
img{width: 250px; height: 200px;}
section{text-align: center;}
button{background-color: rgb(59, 38, 9); border: 2px outset rgb(71, 48, 13); }
input{width: 500px; height: 40px; font-size: larger;}
nav{font-size: large;}
footer{background-color: black; padding: 10px; color: white;}
#um{width: 90px; height: 90px; display: inline-block;}
table{display: inline-block;}